.toast-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
}
@media only screen and (max-width: 768px) {
    .toast-container {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 20px;
    }
}